In [1]:
import pandas as pd
import datetime as dt

In [11]:
j = pd.read_csv("m4_j.csv", parse_dates=[7])

In [12]:
j.head()

,rds_index,hourbin,awt,swt,ewt_95,count,daybin,date,s_trip,m_trip,trip_95,speed
0,M4_0_400026,0,6.79,4.88,4.53,45,1,2015-10-01,1.33,2.01,3.85,2.705
1,M4_0_400028,0,6.54,4.72,5.19,54,1,2015-10-01,1.11,1.09,2.3,9.9225
2,M4_0_400029,0,6.79,4.72,5.21,51,1,2015-10-01,1.1,1.46,3.78,9.9775
3,M4_0_400030,0,6.96,4.67,5.56,52,1,2015-10-01,1.71,1.46,3.75,14.37
4,M4_0_400032,0,6.83,4.67,5.96,52,1,2015-10-01,1.27,1.62,2.58,6.0875

In [20]:
j_=j[j.date < dt.datetime.strptime('2015-10-10', '%Y-%m-%d')]

In [21]:
j_.to_csv("m4_j_.csv", index=False)

In [24]:
r = pd.read_csv("m4_r.csv", parse_dates=[5])

In [26]:
r_=r[r.date < dt.datetime.strptime('2015-10-10', '%Y-%m-%d')]

In [28]:
r_.to_csv("m4_r_.csv", index=False)